/* Defining root color scheme so that it can be changed via a function if required */
:root {
  /* Fonts */
  --body-font: "Montserrat", sans-serif;
  --heading-font: "Bebas Neue", cursive;

  /* Colors */
  --bg-color: #3b4252;
  --nav-bg-color: #2e3440;
  --footer-bg-color: #4c566a;
  --text-color: #f4f7f7;
}

body {
  font-family: var(--body-font);
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-weight: bold;
  font-size: 80px;
  text-transform: uppercase;
  font-family: var(--heading-font);
}

h2 {
  margin: 25px auto;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  font-family: var(--heading-font);
}

p {
  margin: 0 auto 30px;
  min-width: 250px;
  width: 35%;
}

/* navbar */

.navbar {
  background-color: var(--nav-bg-color);
  color: var(--text-color);
}

.dropdown-menu {
  background-color: var(--nav-bg-color);
}

.dropdown-item {
  color: var(--text-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;
      }
      
      .navbar-nav > li {
        display: inline-block;
        float: none;
      }
}

/* heading */

.heading {
  min-height: 500px;
}

/* sections */

.section {
  padding: 50px;
  min-height: 400px;
}

/* footer */

.footer {
  background-color: var(--footer-bg-color);
  min-height: 400px;
}

.copyright {
  margin: 70px auto 0px;
  font-size: smaller;
}

/* hyper-link behavior */

a {
  color: #e5e9f0;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.navbar-nav a {
  text-decoration: none;
}

.navbar-nav a:hover {
  text-decoration: underline;
}

.footer a {
  text-decoration: none;
}

a:hover {
  color: #88c0d0;
  text-decoration: none;
}
